<h1>Listing comments</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Comment text</th>
    </tr>
  </thead>
  <tbody width="700">
    <% @comments.each do |comment| %>
      <tr>
        <td class="comments-author"><%= comment.user.email %></td>
        <td class="info comments-td"><%= comment.comment_text %></td>
      </tr>
      <tr height="80">
        <td colspan="2" align="right"> 
          <%= link_to "view", comment %> | 
          <%= link_to 'update', edit_comment_path(comment) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>